In [30]:
import numpy as np
import pandas as pd
from datetime import datetime

In [31]:
import dask
import dask.dataframe as dd

In [32]:
# code to measure the time taken to do an operation
start_time = datetime.now() 
# insert the code here
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00

In [33]:
file=pd.read_csv('D:\Bizmetric\Azure training\Datasets\car_sales_data.csv')

In [34]:
import os
file = os.path.getsize("D:\Bizmetric\Azure training\Datasets\car_sales_data.csv")
print ('File size in bytes is {}'.format(file))

File size in bytes is 234140321

## Dask over Pandas

In [35]:
# Reading a file with pandas, size over 2 GB
start_time = datetime.now() 
pandasfile = pd.read_csv('D:\Bizmetric\Azure training\Datasets\car_sales_data.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:04.255980

In [36]:
# Reading a file with dask, size over 2 GB
start_time = datetime.now() 
daskFile = dd.read_csv('D:\Bizmetric\Azure training\Datasets\car_sales_data.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.012873

# Appending two files — Pandas & Dask:

In [37]:
# Reading a file with pandas, size over 2 GB
start_time = datetime.now() 
pandasfile = pd.read_csv('D:\Bizmetric\Azure training\Datasets\penguins.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.115371

In [38]:
# Reading a file with dask, size over 2 GB
start_time = datetime.now() 
daskFile = dd.read_csv('D:\Bizmetric\Azure training\Datasets\penguins.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.005983

In [39]:
# let's read another file for appending pandas dataframe
start_time = datetime.now() 
pandasAppend= pd.read_csv('D:\Bizmetric\Azure training\Datasets\penguins.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.002991

In [40]:
# Appending pandas dataframes
start_time = datetime.now() 
finalFile= pandasfile.append(pandasAppend)
time_elapsed = datetime.now() - start_time 
# print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))
finalFile

C:\Users\anike\AppData\Local\Temp\ipykernel_7352\761804479.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  finalFile= pandasfile.append(pandasAppend)

        Island  CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0    Torgersen          39.1         18.7          181.0    3750.0        0
1    Torgersen          39.5         17.4          186.0    3800.0        0
2    Torgersen          40.3         18.0          195.0    3250.0        0
3    Torgersen           0.0          0.0            0.0       0.0        0
4    Torgersen          36.7         19.3          193.0    3450.0        0
..         ...           ...          ...            ...       ...      ...
339      Dream          55.8         19.8          207.0    4000.0        2
340      Dream          43.5         18.1          202.0    3400.0        2
341      Dream          49.6         18.2          193.0    3775.0        2
342      Dream          50.8         19.0          210.0    4100.0        2
343      Dream          50.2         18.7          198.0    3775.0        2

[688 rows x 6 columns]

In [41]:
# let's read another file for appending dask dataframe
start_time = datetime.now() 
daskAppend = dd.read_csv('D:\Bizmetric\Azure training\Datasets\penguins.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.004988

In [42]:
# Appending dask dataframes
start_time = datetime.now() 
daskFinalFile= daskFile.append(daskAppend)
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.038936

C:\Users\anike\AppData\Local\Programs\Python\Python310\lib\site-packages\dask\dataframe\core.py:3488: FutureWarning: The frame.append method is deprecated and will be removed fromdask in a future version. Use dask.dataframe.concat instead.
  warnings.warn(

## Grouping the data — Pandas & Dask:

In [43]:
# Grouping with pandas
start_time = datetime.now() 
finalFile.groupby('Island')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00

In [44]:
# Grouping with dask

start_time = datetime.now() 
daskFinalFile.groupby('Island')
time_elapsed = datetime.now()- start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))
daskFinalFile.columns

Time elapsed (hh:mm:ss.ms) 0:00:00.000998

Index(['Island', 'CulmenLength', 'CulmenDepth', 'FlipperLength', 'BodyMass',
       'Species'],
      dtype='object')

## Merging the datasets with pandas

In [45]:
# Merging the datasets with pandas
start_time = datetime.now() 
mergedPandas= pd.merge(pandasfile, pandasAppend, on="Island")
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.246001

In [46]:
# Merging the datasets with dask
start_time = datetime.now() 
mergedDask= dd.merge(daskFile, daskAppend, on="Island")
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.518241

In [47]:
# Sorting the data using pandas
start_time = datetime.now() 
sortedPandas=finalFile.sort_values(by='Island')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.000999

In [48]:
# Getting not NA values using pandas
start_time = datetime.now() 
notnaPandas=finalFile.notna()
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.016926

In [49]:
# Getting unique values using pandas
start_time = datetime.now() 
uniquePandas=pd.unique(pandasfile['Island'])
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.008975

In [50]:
# Getting not NA values using dask
start_time = datetime.now() 
notnaDask=daskFinalFile.notnull()
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.003994

In [51]:
# Getting unique values using dask
start_time = datetime.now()
notnaDask = daskFinalFile['Island'].drop_duplicates()
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss.ms): {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms): 0:00:01.421899

In [72]:
# saving a file using pandas
# start_time = datetime.now() 
#uniquePandas.to_csv('FinalFileNEW.csv',index=False)
# time_elapsed = datetime.now() - start_time 
# print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

In [52]:
# saving a file using pandas
start_time = datetime.now() 
finalFile.to_csv("finalFileCSV.csv",index=False)
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:01.951180

In [53]:
# saving a file using dask
start_time = datetime.now() 
daskFinalFile.to_csv('DaskFinalFile.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.013965