In [1]:
import pandas as pd

# Assign

In [9]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

 

grouped = (
    data.groupby("species").agg(["mean"])
    .assign(
        fancy_column=lambda df: df["sepal_width"]["mean"]
        / df["sepal_width"]["mean"].mean(),
        useless_column="I am useless"
    )
)
grouped

,sepal_length,sepal_width,petal_length,petal_width,fancy_column,useless_column
,mean,mean,mean,mean,,
species,,,,,,
setosa,5.006,3.428,1.462,0.246,1.121239,I am useless
versicolor,5.936,2.770,4.260,1.326,0.906018,I am useless
virginica,6.588,2.974,5.552,2.026,0.972743,I am useless

# Map

In [12]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv").assign(
    to_big_to_small=lambda df: (df.sepal_width > 3).map({True: "Too Big", False: "Perfect"}),
    inverted_name=lambda df: df.species.map(lambda name: name[::-1]),
)
data

,sepal_length,sepal_width,petal_length,petal_width,species,to_big_to_small,inverted_name
0,5.1,3.5,1.4,0.2,setosa,Too Big,asotes
1,4.9,3.0,1.4,0.2,setosa,Perfect,asotes
2,4.7,3.2,1.3,0.2,setosa,Too Big,asotes
3,4.6,3.1,1.5,0.2,setosa,Too Big,asotes
4,5.0,3.6,1.4,0.2,setosa,Too Big,asotes
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,Perfect,acinigriv
146,6.3,2.5,5.0,1.9,virginica,Perfect,acinigriv
147,6.5,3.0,5.2,2.0,virginica,Perfect,acinigriv
148,6.2,3.4,5.4,2.3,virginica,Too Big,acinigriv
149,5.9,3.0,5.1,1.8,virginica,Perfect,acinigriv

# Query

In [14]:
data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")
length_th = 0.5
filtered_data = (data
    .assign(**{"PW Squared": data["petal_width"] ** 2})
    .query("`PW Squared` > 0.4 and petal_length > @length_th and species != 'setosa'")
)
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Explode

In [16]:
n_rows = 3
result = pd.DataFrame(
    {"a": [list(range(1 + i ** 2)) for i in range(n_rows)], "b": list(range(n_rows))}
).explode("a").astype({'a':int})

result

   a  b
0  0  0
1  0  1
1  1  1
2  0  2
2  1  2
2  2  2
2  3  2
2  4  2