In [1]:
import pandas as pd
from pprint import pprint

df = pd.read_csv('C:\\Users\\User\\Desktop\\Data\\Salary_Data.csv')
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   object
 2   Education Level      6701 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

In [3]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\Salary_Data.csv", chunksize=10000)
print(df)

<pandas.io.parsers.readers.TextFileReader object at 0x000001C9C02D5F50>

In [4]:
for data in df:
    print(data.shape)

(6704, 6)

In [5]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\Salary_Data.csv", chunksize=10)
for data in df:
    pprint(data)
    break

   Age  Gender Education Level              Job Title  Years of Experience  \
0   32    Male      Bachelor's      Software Engineer                    5
1   28  Female        Master's           Data Analyst                    3
2   45    Male             PhD         Senior Manager                   15
3   36  Female      Bachelor's        Sales Associate                    7
4   52    Male        Master's               Director                   20
5   29    Male      Bachelor's      Marketing Analyst                    2
6   42  Female        Master's        Product Manager                   12
7   31    Male      Bachelor's          Sales Manager                    4
8   26  Female      Bachelor's  Marketing Coordinator                    1
9   38    Male             PhD       Senior Scientist                   10

   Salary
0   90000
1   65000
2  150000
3   60000
4  200000
5   55000
6  120000
7   80000
8   45000
9  110000