# 1. use of columns

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\sales.csv")
df

,SalesOrderNumber,SalesOrderLineNumber,OrderDate,CustomerName,EmailAddress,Item,Quantity,UnitPrice,TaxAmount
0,SO43701,1,2019-07-01,Christy Zhu,christy12@adventure-works.com,"Mountain-100 Silver, 44",1,3399.9900,271.9992
1,SO43704,1,2019-07-01,Julio Ruiz,julio1@adventure-works.com,"Mountain-100 Black, 48",1,3374.9900,269.9992
2,SO43705,1,2019-07-01,Curtis Lu,curtis9@adventure-works.com,"Mountain-100 Silver, 38",1,3399.9900,271.9992
3,SO43700,1,2019-07-01,Ruben Prasad,ruben10@adventure-works.com,"Road-650 Black, 62",1,699.0982,55.9279
4,SO43703,1,2019-07-01,Albert Alvarez,albert7@adventure-works.com,"Road-150 Red, 62",1,3578.2700,286.2616
...,...,...,...,...,...,...,...,...,...
32713,SO63093,2,2021-12-31,Rebekah Martin,rebekah20@adventure-works.com,Patch Kit/8 Patches,1,2.2900,0.1832
32714,SO63113,1,2021-12-31,Carolyn Alonso,carolyn29@adventure-works.com,"Road-550-W Yellow, 48",1,1120.4900,89.6392
32715,SO63113,2,2021-12-31,Carolyn Alonso,carolyn29@adventure-works.com,"Short-Sleeve Classic Jersey, S",1,53.9900,4.3192
32716,SO63066,1,2021-12-31,Teresa Navarro,teresa10@adventure-works.com,Mountain Tire Tube,1,4.9900,0.3992
32717,SO63066,2,2021-12-31,Teresa Navarro,teresa10@adventure-works.com,Patch Kit/8 Patches,1,2.2900,0.1832

In [3]:
df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32718 entries, 0 to 32717
Columns: 9 entries, SalesOrderNumber to TaxAmount
dtypes: float64(2), int64(2), object(5)
memory usage: 12.3 MB

In [4]:
len(df.columns)

9

In [5]:
req_cols= [ 'SalesOrderNumber', 'OrderDate', 'CustomerName', 'UnitPrice', 'TaxAmount'  
]
len(req_cols)

5

In [6]:
df= pd.read_csv("C:\\Users\\User\\Desktop\\Data\\sales.csv", usecols=req_cols)

In [7]:
df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32718 entries, 0 to 32717
Columns: 5 entries, SalesOrderNumber to TaxAmount
dtypes: float64(2), object(3)
memory usage: 6.8 MB

# using correct dtypes for numerical data:

In [8]:
df['UnitPrice'].memory_usage(index=False, deep=True)

261744

In [9]:
df['UnitPrice'].min()

2.29

In [10]:
df['UnitPrice'].max()

3578.27

In [11]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\sales.csv", dtype={"UnitPrice" : "Float32"})

In [12]:
df['UnitPrice'].memory_usage(index=False, deep=True)

163590

In [13]:
(261744-163590)/261744*100

37.5

# 2.Using Correct dtypes for categorical columns

In [14]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\student-mat.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [15]:
df['sex'].memory_usage(index=False, deep=True)

22910

In [16]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\student-mat.csv", dtype={"sex":"category"})

In [17]:
df['sex'].memory_usage(index=False, deep=True)

511

In [18]:
(22910-511)/22910*100

97.76953295504147

# 3. converting NAN values to Sparse Series

In [19]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\survey_results_public.csv")
df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [20]:
series=df['Employment']

In [21]:
series.memory_usage(index=False, deep=True)

6161530

In [22]:
len(series)

73268

In [23]:
len(series.dropna())

71709

In [24]:
sparse_series=series.astype("Sparse[str]")

In [25]:
len(sparse_series)

73268

In [26]:
sparse_series.memory_usage(index=False, deep=True)

6435894

In [27]:
(6161530-6435894)/6161530*100

-4.452855053858376

# 4. nrows, skip rows

In [28]:
len(df)

73268

In [29]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\survey_results_public.csv", nrows=1000)
len(df)

1000

In [30]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\survey_results_public.csv", skiprows=[0,2,5])

In [31]:
df

,1,None of these,NA,NA.1,NA.2,NA.3,NA.4,NA.5,NA.6,NA.7,...,NA.65,NA.66,NA.67,NA.68,NA.69,NA.70,NA.71,NA.72,NA.73,NA.74
0,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
1,4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
2,6,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
3,7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
4,8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73260,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73261,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73262,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73263,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73264,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

# 5.Loading data in chunks

In [32]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\survey_results_public.csv", chunksize=1000)

In [33]:
total_len = 0
for chunk in df:
    total_len += len(chunk)
print(total_len)

73268

# Concatinate each chunk one by one

In [34]:
tp=pd.read_csv("C:\\Users\\User\\Desktop\\Data\\survey_results_public.csv", iterator=True, chunksize=1000)
df= pd.concat(tp, ignore_index=True)

In [35]:
len(df)

73268

# 6. Multiprocessing using pandas

In [36]:
import multiprocessing as mp

In [37]:
%%time
df = pd.read_csv("C:\\Users\\User\\Desktop\\Data\\survey_results_public.csv", chunksize=10000)
total_length = 0
for chunk in df:
    total_length += len(chunk)
print(total_length)

73268
CPU times: total: 2.11 s
Wall time: 2.11 s

In [38]:
%%time
LARGE_FILE = "C:\\Users\\User\\Desktop\\Data\\survey_results_public.csv"
CHUNKSIZE = 1000 # processing 100,000 rows at a time

def process_frame(df):
        # process data frame
        return len(df)

if __name__ == '__main__':
        reader = pd.read_table(LARGE_FILE, chunksize=CHUNKSIZE)
        pool = mp.Pool(4) # use 4 processes
        print(pool)

        funclist = []
        for df in reader:
                # process each data frame
                f = pool.apply_async(process_frame,[df])
                funclist.append(f)
                
        print(funclist)        
        result = 0
        for f in funclist:
                result += f.get(timeout=10) # timeout in 10 seconds

        print (f"There are {result} rows of data")

<multiprocessing.pool.Pool state=RUN pool_size=4>

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

# 7. Dask Instead of Pandas

In [39]:
import dask.dataframe as dd

In [42]:
%%time
data=dd.read_csv("C:\\Users\\User\\Desktop\\Data\\survey_results_public.csv",
                dtype={'MachineHoursCurrentMeter': 'float32'},assume_missing=True)
data.compute()

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+--------------+--------+----------+
| Column       | Found  | Expected |
+--------------+--------+----------+
| YearsCode    | object | float64  |
| YearsCodePro | object | float64  |
+--------------+--------+----------+

The following columns also raised exceptions on conversion:

- YearsCode
  ValueError("could not convert string to float: 'More than 50 years'")
- YearsCodePro
  ValueError("could not convert string to float: 'Less than 1 year'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'YearsCode': 'object',
       'YearsCodePro': 'object'}

to the call to `read_csv`/`read_table`.