In [1]:
import pandas as pd
from pprint import pprint

df = pd.read_csv('swiggy.csv')

df.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [3]:
df = pd.read_csv("swiggy.csv", chunksize=10000)
print(df)

<pandas.io.parsers.readers.TextFileReader object at 0x000001EB4E80FAD0>

In [4]:
for data in df:
    pprint(data.shape)

(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(10000, 11)
(8541, 11)

In [6]:
df = pd.read_csv("swiggy.csv", chunksize=10000)

for data in df:
    pprint(data)
    break

          id                                       name
0     567335                             AB FOODS POINT  \
1     531342                          Janta Sweet House
2     158203                          theka coffee desi
3     187912                                  Singh Hut
4     543530                              GRILL MASTERS
...      ...                                        ...
9995  341840                            BaHa Superfoods
9996  371970              Artinci - Indulge Guilt Free!
9997   41099                                  Nagarjuna
9998  369411  Gourmet Ice Cream Cakes by Baskin Robbins
9999  433627                           Paris Waffle Co.

                       city rating     rating_count   cost
0                    Abohar     --  Too Few Ratings  ₹ 200  \
1                    Abohar    4.4      50+ ratings  ₹ 200
2                    Abohar    3.8     100+ ratings  ₹ 100
3                    Abohar    3.7      20+ ratings  ₹ 250
4                    Abohar     --  Too Few Ratings  ₹ 250
...                     ...    ...              ...    ...
9995  Koramangala,Bangalore    4.1      20+ ratings  ₹ 200
9996  Koramangala,Bangalore    4.1      50+ ratings  ₹ 200
9997  Koramangala,Bangalore    4.4      1K+ ratings  ₹ 600
9998  Koramangala,Bangalore    4.7      20+ ratings  ₹ 250
9999  Koramangala,Bangalore    2.8      20+ ratings  ₹ 300

                         cuisine          lic_no
0               Beverages,Pizzas  22122652000138  \
1                  Sweets,Bakery  12117201000112
2                      Beverages  22121652000190
3               Fast Food,Indian  22119652000167
4     Italian-American,Fast Food  12122201000053
...                          ...             ...
9995         Healthy Food,Juices  11218334001447
9996      Ice Cream,Healthy Food  22421550000233
9997         Andhra,South Indian  11217334001482
9998          Desserts,Ice Cream  11221334001794
9999             Desserts,Snacks  11219334001956

                                                   link
0     https://www.swiggy.com/restaurants/ab-foods-po...  \
1     https://www.swiggy.com/restaurants/janta-sweet...
2     https://www.swiggy.com/restaurants/theka-coffe...
3     https://www.swiggy.com/restaurants/singh-hut-n...
4     https://www.swiggy.com/restaurants/grill-maste...
...                                                 ...
9995  https://www.swiggy.com/restaurants/baha-superf...
9996  https://www.swiggy.com/restaurants/artinci-ind...
9997  https://www.swiggy.com/restaurants/nagarjuna-k...
9998  https://www.swiggy.com/restaurants/gourmet-ice...
9999  https://www.swiggy.com/restaurants/paris-waffl...

                                                address              menu
0     AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...  Menu/567335.json
1     Janta Sweet House, Bazar No.9, Circullar Road,...  Menu/531342.json
2            theka coffee desi, sahtiya sadan road city  Menu/158203.json
3       Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR  Menu/187912.json
4     GRILL MASTERS, ADA Heights, Abohar - Hanumanga...  Menu/543530.json
...                                                 ...               ...
9995  BaHa Superfoods, No 86, 1st floor, Sajapur Roa...  Menu/341840.json
9996  Artinci - Indulge Guilt Free!, NO-2, IST MAIN ...  Menu/371970.json
9997  Nagarjuna, #138, 1 St cross, 5th Block, KHB Co...   Menu/41099.json
9998  Gourmet Ice Cream Cakes by Baskin Robbins, # 8...  Menu/369411.json
9999  Paris Waffle Co., NO.897/E, FIRST FLOOR, YAMAH...  Menu/433627.json

[10000 rows x 11 columns]

In the above example, each element/chunk returned has a size of 10000.  Here, we had 148541. Hence, the number of chunks is 148541/10000 ~ 14 chunks, and the remaining 8541 examples form the 15th chunk.

The number of columns for each chunk is 8. Hence, chunking doesn’t affect the columns. Now that we understand how to use chunksize and obtain the data lets have a last visualization of the data, for visibility purposes, the chunk size is assigned to 10.