### Importing the libraries:

In [1]:
import numpy as np
import pandas as pd

In [2]:
import dask
import dask.dataframe as dd
from datetime import datetime

### Code to calculate elapsed time and file size:

In [29]:
#code to measure the time taken to do an operation
start_time = datetime.now()
# code---
time_elapsed = datetime.now()- start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00

In [30]:
# Get the file size
import os
file = os.path.getsize("Car Dekho.csv")
print('File size in bytes is {}'.format(file))

File size in bytes is 354635

## Dask over Pandas

### Reading a file - Pandas and Dask:

In [34]:
# Reading a file with pandas, size over 
start_time = datetime.now()
pandasfile = pd.read_csv("annual-financial-year-provisional.csv")
time_elapsed = datetime.now()- start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))
pandasfile

Time elapsed (hh:mm:ss:ms) 0:00:00.194353

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [18]:
# Reading a file with dask, size over 
start_time = datetime.now()
daskfile = dd.read_csv("annual-financial-year-provisional.csv")
time_elapsed = datetime.now()- start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))
daskfile

Time elapsed (hh:mm:ss:ms) 0:00:00.025311

Dask DataFrame Structure:
                Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC   Units Variable_code Variable_name Variable_category   Value Industry_code_ANZSIC06
npartitions=1
               int64                      object                int64               object  object        object        object            object  object                 object
                 ...                         ...                  ...                  ...     ...           ...           ...               ...     ...                    ...
Dask Name: read-csv, 1 graph layer

## Appending two files -- Pandas and Dask

In [40]:
# let's read another file for appending pandas dataframe
start_time = datetime.now()
pandasAppend = pd.read_csv('annual-financial-year-provisional.csv')
time_elapsed = datetime.now()- start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00.186464

In [41]:
# let's read another file for appending dask dataframe
start_time = datetime.now()
daskAppend = dd.read_csv('annual-financial-year-provisional.csv')
time_elapsed = datetime.now()- start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00.022806

In [42]:
# Appending pandas dataframes
start_time = datetime.now()
finalFile = pd.concat([pandasfile, pandasAppend])
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))
finalFile

Time elapsed (hh:mm:ss:ms) 0:00:00.007411

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [11]:
# Appending dask dataframes
start_time = datetime.now()
daskfinalFile = dd.concat([daskfile, daskAppend])
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))
finalFile

Time elapsed (hh:mm:ss:ms) 0:00:00.112711

Dask DataFrame Structure:
                Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC   Units Variable_code Variable_name Variable_category   Value Industry_code_ANZSIC06
npartitions=2
               int64                      object               object               object  object        object        object            object  object                 object
                 ...                         ...                  ...                  ...     ...           ...           ...               ...     ...                    ...
                 ...                         ...                  ...                  ...     ...           ...           ...               ...     ...                    ...
Dask Name: concat, 2 graph layers

## Grouping the data â€” Pandas & Dask:

In [12]:
# Grouping with pandas
start_time = datetime.now()
finalFile.groupby('Industry_aggregation_NZSIOC')#['Industry_aggregation_NZSIOC']
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00

In [13]:
# Grouping with dash
start_time = datetime.now()
finalFile.groupby('Industry_aggregation_NZSIOC')
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00

## Merging the datasets -- Pandas and Flask

In [27]:
pandasfile = pd.read_csv("swiggy.csv")

In [21]:
pandasAppend=pd.read_csv("zomato.csv", encoding="latin1")
pandasAppend.rename(columns = {'Restaurant ID':'id'}, inplace = True)

In [22]:
# Merging yhe datasets with pandas
start_time = datetime.now()
mergedPandas = pd.merge(pandasfile,pandasAppend, on='id')
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00.079677

In [28]:
# Merging the datasets with dask
start_time = datetime.now()
mergedDask = dd.merge(pandasfile,pandasAppend, on='id')
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00.076503

## Pandas over Dask:
## Sorting - Pandas and Dask

In [25]:
# Sorting the data using Pandas
start_time = datetime.now()
sortedPandas = pandasfile.sort_values(by='id')
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00.065083

In [ ]:
# sorting the data using dask
start_time = datetime.now()
sortedPandas = pandasfile.sort_values(by='id')
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Unique and NotNA -- Pandas and Dask:

In [30]:
# Getting not Na values using pandas
start_time = datetime.now()
notnaPandas = finalFile.notna()
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00.019768

In [31]:
# Getting unique values using pandas
start_time = datetime.now()
uniquePandas = pd.unique(pandasfile['Year'])
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss:ms) 0:00:00

In [32]:
## Dask

In [33]:
# Getting not NA values using pandas
start_time = datetime.now()
notnaDask = daskfinalFile.notna()
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

NameError: name 'daskfinalFile' is not defined

In [ ]:
#Getting unique values using dask
start_time = datetime.now()
notnaDask = dd.unique(daskfinalFile['Year'])
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

# Saving a dataframe to a file - Pandas and Dask

In [34]:
# saving a file using pandas
start_time = datetime.now()
uniquePandas.to_csv("Car Dekho.csv")
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'

In [ ]:
# saving a file using using dask
start_time = datetime.now()
notnaDask = daskfinalFile.notna()
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss:ms) {}'.format(time_elapsed))