# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [13]:
def lesser_of_two_evens(a,b):
    if a%2==0 and  b%2==0:
        return min(a,b)
    else:
        return max(a,b)

pass
lesser_of_two_evens(2,3)

3

In [14]:
#Check
lesser_of_two_evens(10,14)

10

In [15]:
# Check
lesser_of_two_evens(2,6)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [1]:
def animal_crackers(text):
    p= text.split()
    return p[0][0]== p[1][0] 
    pass

In [2]:
# Check
animal_crackers('Levelheaded Llama')

True

In [3]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [17]:
def makes_twenty(n1,n2):
    return(n1+n2)==20 or n1==20 or n2==20
pass

In [18]:
# Check
makes_twenty(20,10)

True

In [19]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [35]:
def old_macdonald(name):
    if len(name)> 3:
        return name[:3].capitalize() + name[3:].capitalize()
        
    else:
        return'name is short'
    
    pass

In [36]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [48]:
#oxenBerg
def old_oxenberg(name):
    if len(name)>4:
        return name[:4]+name[4:].capitalize()
    else:
        return 'it is too short'
    pass
old_oxenberg('oxenberg')

'oxenBerg'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [9]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])
    #return ' '.join(text.split()[::-1])

In [10]:
# Check
master_yoda('I am home')

'home am I'

In [51]:
#Hii how are you
def master_yoda(name):
    return ' '.join(name.split()[::-1])
master_yoda('hii how are you')

'you are how hii'

In [135]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [62]:
def almost_there(n):
    return abs(100-n)<=10 or abs(200-n)<=10
    pass

In [64]:
# Check
almost_there(104)

True

In [65]:
# Check
almost_there(150)

False

In [66]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [90]:
def has_33(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False
    pass

In [91]:
# Check
has_33([1, 3, 3])

True

In [98]:
def has_33(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 3 and nums[i+1] == 3:
            return true
    return False
pass

In [99]:
# Check
has_33([1, 3, 1, 3])

False

In [81]:
# Check
has_33([3, 1, 3])

False

In [82]:
has_33([3,3,1,3,3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [102]:
def paper_doll(text):
    result =" "
    for char in text:
        result+=char*3
    return result
    pass

In [103]:
# Check
paper_doll('Hello')

' HHHeeellllllooo'

In [104]:
def paper_doll(text):
    result=" "
    for char in text:
        result+=char*3
    return result
    pass

In [105]:
# Check
paper_doll('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [126]:
def blackjack(a,b,c):
    sum=a+b+c
    if sum<=21:
        return sum
    elif 11 in(a,b,c):
        sum=sum-10
    if sum>21:
        return 'BUST'
    return sum
    pass

In [127]:
# Check
blackjack(5,6,7)

18

In [128]:
# Check
blackjack(9,9,9)

'BUST'

In [129]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [130]:
def summer_69(arr):
    sum=0
    ignore = False
    for num in arr:
        if num==6:
            ignore = True
        elif num==9:
            ignore = False
        elif not ignore:
            sum+=num
    return sum
    pass

In [131]:
# Check
summer_69([1, 3, 5])

9

In [132]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [133]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!