In [0]:
data1=[(1,'Pranay',700000,1),(2,'Ayush',600000,3),(3,'Rutuja',500000,4)]
cols1=['id','Name','Salary','Dept']

data2=[(1,'DE-Azure'),(2,'DS'),(3,'DE-AWS')]
cols2=['id','name']

empDF=spark.createDataFrame(data1,cols1)
DeptDF=spark.createDataFrame(data2,cols2)

empDF.show()
DeptDF.show()

+---+------+------+----+
| id|  Name|Salary|Dept|
+---+------+------+----+
|  1|Pranay|700000|   1|
|  2| Ayush|600000|   3|
|  3|Rutuja|500000|   4|
+---+------+------+----+

+---+--------+
| id|    name|
+---+--------+
|  1|DE-Azure|
|  2|      DS|
|  3|  DE-AWS|
+---+--------+

In [0]:
#inner join

empDF.join(DeptDF, empDF.Dept==DeptDF.id,'inner').show()

+---+------+------+----+---+--------+
| id|  Name|Salary|Dept| id|    name|
+---+------+------+----+---+--------+
|  1|Pranay|700000|   1|  1|DE-Azure|
|  2| Ayush|600000|   3|  3|  DE-AWS|
+---+------+------+----+---+--------+

In [0]:
#left join
empDF.join(DeptDF, empDF.Dept==DeptDF.id,'left').show()

+---+------+------+----+----+--------+
| id|  Name|Salary|Dept|  id|    name|
+---+------+------+----+----+--------+
|  1|Pranay|700000|   1|   1|DE-Azure|
|  2| Ayush|600000|   3|   3|  DE-AWS|
|  3|Rutuja|500000|   4|null|    null|
+---+------+------+----+----+--------+

In [0]:
#right join
empDF.join(DeptDF, empDF.Dept==DeptDF.id,'right').show()

+----+------+------+----+---+--------+
|  id|  Name|Salary|Dept| id|    name|
+----+------+------+----+---+--------+
|   1|Pranay|700000|   1|  1|DE-Azure|
|null|  null|  null|null|  2|      DS|
|   2| Ayush|600000|   3|  3|  DE-AWS|
+----+------+------+----+---+--------+

In [0]:
#full outer join
empDF.join(DeptDF, empDF.Dept==DeptDF.id,'fullouter').show()

+----+------+------+----+----+--------+
|  id|  Name|Salary|Dept|  id|    name|
+----+------+------+----+----+--------+
|   1|Pranay|700000|   1|   1|DE-Azure|
|null|  null|  null|null|   2|      DS|
|   2| Ayush|600000|   3|   3|  DE-AWS|
|   3|Rutuja|500000|   4|null|    null|
+----+------+------+----+----+--------+

In [0]:
#left semi join - It gives the matching record but shows ONLY which have matching values in left table
empDF.join(DeptDF, empDF.Dept==DeptDF.id,'leftsemi').show()

+---+------+------+----+
| id|  Name|Salary|Dept|
+---+------+------+----+
|  1|Pranay|700000|   1|
|  2| Ayush|600000|   3|
+---+------+------+----+

In [0]:
#left anti join-  It gives the record but shows ONLY which does not have matching values in left table
empDF.join(DeptDF, empDF.Dept==DeptDF.id,'leftanti').show()

+---+------+------+----+
| id|  Name|Salary|Dept|
+---+------+------+----+
|  3|Rutuja|500000|   4|
+---+------+------+----+

In [0]:
#anti join- same as left anti
empDF.join(DeptDF, empDF.Dept==DeptDF.id,'anti').show()  #same as left anti

+---+------+------+----+
| id|  Name|Salary|Dept|
+---+------+------+----+
|  3|Rutuja|500000|   4|
+---+------+------+----+

In [0]:
empDF.join(DeptDF, empDF.Dept==DeptDF.id,'cross').show()

+---+------+------+----+---+--------+
| id|  Name|Salary|Dept| id|    name|
+---+------+------+----+---+--------+
|  1|Pranay|700000|   1|  1|DE-Azure|
|  2| Ayush|600000|   3|  3|  DE-AWS|
+---+------+------+----+---+--------+

In [0]:
#self Join
data=[(1,'Pranay',0),(2,'Ayush',1),(3,'Rutuja',2)]
cols1=['id','Name','managerid']

df=spark.createDataFrame(data,cols1)
df.show()

from pyspark.sql.functions import col
df.alias('empData').join(df.alias('mgrData'),\
    col('empData.managerid')==col('mgrData.id')\
        ,'left').show()



df.alias('empData').join(df.alias('mgrData'),\
    col('empData.managerid')==col('mgrData.id')\
        ,'left')\
.select(col('empData.name').alias('empName'),col('mgrData.name').alias('mgrName')).show()

+---+------+---------+
| id|  Name|managerid|
+---+------+---------+
|  1|Pranay|        0|
|  2| Ayush|        1|
|  3|Rutuja|        2|
+---+------+---------+

+---+------+---------+----+------+---------+
| id|  Name|managerid|  id|  Name|managerid|
+---+------+---------+----+------+---------+
|  1|Pranay|        0|null|  null|     null|
|  2| Ayush|        1|   1|Pranay|        0|
|  3|Rutuja|        2|   2| Ayush|        1|
+---+------+---------+----+------+---------+

+-------+-------+
|empName|mgrName|
+-------+-------+
| Pranay|   null|
|  Ayush| Pranay|
| Rutuja|  Ayush|
+-------+-------+