In [40]:
import numpy as np
import pandas as pd
from datetime import datetime

In [44]:
import dask
import dask.dataframe as dd

In [48]:
# code to measure the time taken to do an operation
start_time = datetime.now() 
# insert the code here
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00

In [51]:
file=pd.read_csv('zomato.csv')

In [52]:
import os
file = os.path.getsize("zomato.csv")
print ('File size in bytes is {}'.format(file))

File size in bytes is 574072999

## Dask over Pandas

In [56]:
# Reading a file with pandas, size over 4GB
start_time = datetime.now() 
pandasfile = pd.read_csv('zomato.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:05.260822

In [57]:
# Reading a file with dask, size over 4GB
start_time = datetime.now() 
daskFile = dd.read_csv('zomato.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.031523

In [58]:
# let's read another file for appending pandas dataframe
start_time = datetime.now() 
pandasAppend= pd.read_csv('demofile.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.010510

In [59]:
# Appending pandas dataframes
start_time = datetime.now() 
finalFile= pandasfile.append(pandasAppend)
time_elapsed = datetime.now() - start_time 
# print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))
finalFile

C:\Users\IT Tech\AppData\Local\Temp\ipykernel_15312\761804479.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  finalFile= pandasfile.append(pandasAppend)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,...,ManagerName,Recruitment Source,PerformanceScore,EngagementSurvey,Zip.1,LastPerformanceReview_Date,DaysLateLast30,Absences,EmpType,OTHours
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775.0,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787.0,080 41714161,Banashankari,Casual Dining,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918.0,+91 9663487993,Banashankari,"Cafe, Casual Dining",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88.0,+91 9620009302,Banashankari,Quick Bites,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166.0,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,NaN,NaN,"Woodson, Jason",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Kissy Sullivan,LinkedIn,Fully Meets,4.07,4.0,2/28/2019,0.0,13.0,Permanent,2.0
306,NaN,NaN,"Ybarra, Catherine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Brannon Miller,Google Search,PIP,3.20,2.0,2/9/2015,5.0,4.0,Permanent,1.0
307,NaN,NaN,"Zamora, Jennifer",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Janet King,Employee Referral,Exceeds,4.60,5.0,2/21/2019,0.0,16.0,Permanent,3.0
308,NaN,NaN,"Zhou, Julia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Simon Roup,Employee Referral,Fully Meets,5.00,3.0,1/2/2019,0.0,11.0,Permanent,4.0
309,NaN,NaN,"Zima, Colleen",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,David Stanley,LinkedIn,Fully Meets,4.50,5.0,1/30/2019,0.0,2.0,Permanent,1.0

In [60]:
# let's read another file for appending dask dataframe
start_time = datetime.now() 
daskAppend = dd.read_csv('demofile.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.015023

In [61]:
# Appending dask dataframes
start_time = datetime.now() 
daskFinalFile= daskFile.append(daskAppend)
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.171632

C:\Users\IT Tech\anaconda3\envs\Py38\lib\site-packages\dask\dataframe\core.py:3488: FutureWarning: The frame.append method is deprecated and will be removed fromdask in a future version. Use dask.dataframe.concat instead.
  warnings.warn(

## Grouping the data — Pandas & Dask:

In [62]:
# Grouping with pandas
start_time = datetime.now() 
finalFile.groupby('EmpType')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.010978

In [63]:
# Grouping with dask

start_time = datetime.now() 
daskFinalFile.groupby('EmpType')
time_elapsed = datetime.now()- start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))
daskFinalFile.columns

Time elapsed (hh:mm:ss.ms) 0:00:00

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)', 'EmpID', 'EmpStatusID', 'DeptID',
       'PerfScoreID', 'Salary', 'Termd', 'PositionID', 'Position',
       'Hiring location', 'Zip', 'DOB', 'Sex', 'MaritalDesc', 'Citizenship',
       'DateofJoining', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Training hours', 'Trainings', 'Department', 'ManagerName',
       'Recruitment Source', 'PerformanceScore', 'EngagementSurvey', 'Zip.1',
       'LastPerformanceReview_Date', 'DaysLateLast30', 'Absences', 'EmpType',
       'OTHours'],
      dtype='object')

## Merging the datasets with pandas

In [64]:
# Merging the datasets with pandas
start_time = datetime.now() 
mergedPandas= pd.merge(pandasfile, pandasAppend, on="name")
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.035208

In [65]:
# Merging the datasets with dask
start_time = datetime.now() 
mergedDask= dd.merge(daskFile, daskAppend, on="name")
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.033686

In [66]:
# Sorting the data using pandas
start_time = datetime.now() 
sortedPandas=finalFile.sort_values(by='name')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.119198

In [68]:
# Getting not NA values using pandas
start_time = datetime.now() 
notnaPandas=finalFile.notna()
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.343169

In [69]:
# Getting unique values using pandas
start_time = datetime.now() 
uniquePandas=pd.unique(pandasfile['name'])
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.017007

In [70]:
# Getting not NA values using dask
start_time = datetime.now() 
notnaDask=daskFinalFile.notnull()
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:00.022171

In [71]:
# Getting unique values using dask
start_time = datetime.now()
notnaDask = daskFinalFile['name'].drop_duplicates()
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss.ms): {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms): 0:00:00.010006

In [72]:
# saving a file using pandas
# start_time = datetime.now() 
#uniquePandas.to_csv('FinalFileNEW.csv',index=False)
# time_elapsed = datetime.now() - start_time 
# print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

In [73]:
# saving a file using pandas
start_time = datetime.now() 
finalFile.to_csv("finalFileCSV.csv",index=False)
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:11.586765

In [ ]:
# saving a file using dask
start_time = datetime.now() 
daskFinalFile.to_csv('DaskFinalFile.csv')
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))